/*
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/

.text-green {
  color: #D7FF45;
}

.text-navy {
  color: #0C2746;
}

.text-cyan {
  color: #79C3DF;
}

.bg-green {
  background-color: #D7FF45;
}

.bg-navy {
  background-color: #0C2746;
}

.bg-cyan {
  background-color: #79C3DF;
}

#mainNav {
  min-height: 3.5rem;
  background-color: #fff;
}
#mainNav .navbar-toggler {
  padding: 0.75rem;
  color: #000;
  border: none;
}
#mainNav .navbar-toggler:focus {
  outline: none;
}
#mainNav .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-weight: 700;
  padding: 0.7rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
}
#mainNav .navbar-brand .logo {
  height: 1.5rem;
  margin-top: -0.5rem;
}
#mainNav .navbar-brand .logo.fixed {
  display: none;
}
#mainNav .navbar-nav .nav-item:hover {
  color: fade(#fff, 80%);
  outline: none;
  background-color: transparent;
}
#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #79C3DF;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    font-size: 2rem;
    padding: 0.5rem 0;
    color: #FFF;
  }
  #mainNav .navbar-brand .logo {
    height: 2rem;
  }
  #mainNav .navbar-brand .logo.fixed {
    display: inline-block;
  }
  #mainNav .navbar-brand .logo.shrink {
    display: none;
  }
  #mainNav .nav-link {
    transition: none;
    padding: 1.75rem 1.5rem;
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .nav-link:hover {
    color: #D7FF45;
  }
  #mainNav .nav-link:active {
    color: #fff;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #000;
  }
  #mainNav.navbar-shrink .navbar-brand .logo.shrink {
    display: inline-block;
  } 
  #mainNav.navbar-shrink .navbar-brand .logo.fixed {
    display: none;
  } 
  #mainNav.navbar-shrink .nav-link {
    color: #000;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #79C3DF;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #79C3DF;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #79C3DF;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

.btn {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}


.card-borderless {
  border: none;
  background-color: transparent;
}

.card-borderless .card-body {
  padding-left: 0;
  padding-right: 0;
}

.masthead {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 300px;
  padding-top: 5rem;
  background: #0C2746;
  color: #FFF;
}

.masthead .headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  line-height: 2.5rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 600px;
    padding-top: 5rem;
  }
  
  .masthead .headline {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 600px;
    padding-top: 5rem;
  }
  
  .masthead .headline {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}

@media (min-width: 1200px) {
  .masthead {
    height: 700px;
    padding-top: 5rem;
  }
  
  .masthead .headline {
    font-size: 6.5rem;
    line-height: 7rem;
  }
}


.our-token {
  background-color: rgba(121, 195,223, 0.3);
}

.profile-photo {
  filter: grayscale(100%);
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.profile-photo:hover {
  filter: grayscale(0%);
}

.signup-section {
  padding: 10rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 0%, rgba(0, 0, 0, 0.5) 75%, #000 100%), url('http://via.placeholder.com/1920x1280');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}
.signup-section .form-signup input {
  box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
  padding: 1.25rem 2rem;
  height: auto;
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 80%;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
}
.lc-block.accordion-item {
  background-color: #000;
  border-color: rgba(255,255,255,.25);
}

.lc-block.accordion-item .accordion-body {
  color: #fff;
}

.footer {
  padding: 5rem 0;
}