/* header */
.navbar {
    background: rgba(0, 0, 0, 0.08);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(30px);
    color: $white;
    padding: 25px;
    width: 100%;
    position: fixed;
    z-index: 1000;

    .navbar-brand {
        display: inline-block;
        color: $white;
        font-size: 18px;
        line-height: 30px;
        text-decoration: none;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;

        img {
            width: 50px;
        }

        .title {
            display: inline-block;
            margin-left: 10px;
        }
    }

    .navbar-toggler {
      border: none;
      color: $white;
    }

    .menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 0;
        margin: 20px 0;
        list-style: none;

        a {
            display: inline-block;
            color: $white;
            text-decoration: none;
            padding: 10px 0px;
            font-size: 16px;
            line-height: 30px;

        }
        
    }

    @media (min-width: 992px) {
      .menu { 
        margin: 0;
        flex-direction: row;

        a {
          padding: 0 20px;
        }
      }
    
    }

}

