.hero {
    position: relative;
    padding: 130px 0 50px;
    color: $white;
    background-color: $navy;

    background-image: url(/img/background-3.svg);
    background-repeat: no-repeat;
    background-position: right bottom -33px;
    background-size: 400px;

    h1 {
        margin-bottom: 0;
    }
}

.hero-blog {
    background-image: url(/img/background-1.svg);

    @media (min-width: 992px) {
        padding: 150px 0 150px;
        background-size: 700px;
    }

    @media (min-width: 1200px) {
        padding: 170px 0 230px;
        background-size: 1000px;
    }
}

.hero-how-to-buy {
    position: relative;
    padding: 80px 0 20px;
    color: $white;
    background-color: $navy;

    @media (min-width: 992px) {
        padding: 130px 0 50px;
    }

    h1 {
        margin-bottom: 0;

        @media (min-width: 992px) {
            &::after {
                content: " ";
                position: absolute;
                background-image: url(/img/twisty-arrow.png);
                width: 155px;
                height: 85px;
                background-repeat: no-repeat;
                bottom: 0px;
                transform: translate(300px, 0px) rotate(40deg);
            }
        }

        @media (min-width: 1200px) {
            &::after {
                transform: translate(0px, 20px) rotate(30deg);
            }
        }

        @media (min-width: 1400px) {
            &::after {
                transform: translate(35px) rotate(12deg);
            }
        }
    }

    .twisty-arrow {
        transform: scale(70%) translate(0, 30px) rotate(45deg);
    }
}

.hero-home {
    background-color: $navy;
    height: 540px;
    color: $white;
    position: relative;
    padding: 0;

    @media (min-width: 576px) {
        height: 750px;
    }

    // Mid-viewport size for font break
    @media (min-width: 896px) {
        height: 820px;
    }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        height: 870px;
    }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) {
        height: 950px;
    }

    .hero-body {
        padding: 150px 0 80px 0;
    }

    .hero-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        display: none;

        @media (min-width: 576px) {
            display: block;
            bottom: -57px;
            width: 576px;
        }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) {
            bottom: -76px;
            width: 768px;
        }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) {
            bottom: -98px;
            width: 992px;
        }

        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) {
            bottom: -119px;
            width: 1200px;
        }

        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) {
            bottom: -119px;
            width: 1200px;
        }
    }



    /*
    @supports (mix-blend-mode: multiply) {
        &::before {    
            content: "";
            background-image: url('/img/pattern-hero.svg');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            mix-blend-mode: multiply;
            opacity: .7;
        }
    }
*/
}