.hero {
    position: relative;
    padding: 130px 0 50px; 
    color: $white;
    background-color: $navy;

    background-image: url(/img/background-3.svg);
    background-repeat: no-repeat;
    background-position: right bottom -33px;
    background-size: 400px;

    h1 {
        margin-bottom: 0;
    }
    
}

.hero-home {
    background-color: $navy;
    height: 540px;
    color: $white;
    position: relative;
    padding: 0;

    @media (min-width: 576px) { height: 740px; }

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {  height: 760px; }

    // Large devices (desktops, 992px and up)
    @media (min-width: 992px) { height: 830px; }

    // X-Large devices (large desktops, 1200px and up)
    @media (min-width: 1200px) { height: 900px; }

    // XX-Large devices (larger desktops, 1400px and up)
    @media (min-width: 1400px) { height: 980px;}

    .hero-body {
        padding: 150px 0 80px 0;
    }

    .hero-image {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 100%;
        display: none;

        @media (min-width: 576px) { display: block; bottom: -57px; width: 576px; }

        // Medium devices (tablets, 768px and up)
        @media (min-width: 768px) { bottom: -76px;  width: 768px; }

        // Large devices (desktops, 992px and up)
        @media (min-width: 992px) { bottom: -98px; width: 992px; }

        // X-Large devices (large desktops, 1200px and up)
        @media (min-width: 1200px) { bottom: -119px; width: 1200px; }

        // XX-Large devices (larger desktops, 1400px and up)
        @media (min-width: 1400px) { bottom: -119px; width: 1200px; }
    }



/*
    @supports (mix-blend-mode: multiply) {
        &::before {    
            content: "";
            background-image: url('/img/pattern-hero.svg');
            background-size: cover;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            mix-blend-mode: multiply;
            opacity: .7;
        }
    }
*/
}
