/*
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
*/

/* UI KIT OVERRIDES */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 { font-family: 'Montserrat', sans-serif; }

h1, .h1 { font-weight: 500; font-size: 6.0625rem; letter-spacing: -1.5px; }
h2, .h2 { font-weight: 500; font-size: 2.8125rem; letter-spacing: -0.5px; }
h3, .h3 { font-weight: 400; font-size: 3rem; }
h4, .h4 { font-weight: 400; font-size: 2.125rem; letter-spacing: 0.25px; }
h5, .h5 { font-weight: 400; font-size: 1.5rem; }
h6, .h6 { font-weight: 500; font-size: 1.25rem; letter-spacing: 0.15px; }

@media (min-width: 768px) {
  h2, .h2 { font-size: 3.8125rem; }
}

.subtitle { font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 1rem; letter-spacing: 0.15px;}
.subtitle-2 { font-family: 'Montserrat', sans-serif; font-weight: 500; font-size: 0.875rem; letter-spacing: 0.15px; text-transform: uppercase;}

body { font-family: 'Inter', sans-serif; font-size: 1rem; font-weight: 400; letter-spacing: 0.5px; }
.body-2 { font-size: 0.875rem; letter-spacing: 0.25px; }

a { color: #15447a; }
a:hover { color: #0c2746; }

.caption { font-size: 0.75rem; font-weight: 400; letter-spacing: 0.4px; }
label { font-family: 'Inter', sans-serif; font-size: 0.625rem; font-weight: 700; letter-spacing: 1.5px;}

/* PRIMARY - 60% usage */
.bg-gray { background-color: #e9e9de; }
.bg-gray-brighter {background-color: #fffff3; }
.bg-gray-darker {background-color: #d1d1c7; }
.bg-black { background-color: #161c23; }
.bg-black-brighter { background-color: #242e3b; }
.bg-black-brighter-20 { background-color: #2d363f; }
.text-gray { color: #e9e9de; }
.text-black {color: #161c23; }

/* SECONDARY 30% usage */
.bg-cyan { background-color: #79C3DF; }
.bg-cyan-brighter { background-color: #8ce0ff; }
.bg-cyan-darker { background-color: #46a0db; }
.bg-navy { background-color: #0C2746; }
.bg-navy-brighter { background-color: #10355e; }
.bg-navy-brighter-20 { background-color: #15447a; }
.text-cyan { color: #79C3DF; }
.text-navy { color: #0C2746; }

/* ACCENT 10% usage */
.bg-green { background-color: #D7FF45; }
.text-green { color: #D7FF45; }

.btn { font-family: 'Inter', sans-serif; font-weight: 500; font-size: 0.875rem; letter-spacing: 1.25px; text-transform: uppercase; border-radius: 0; }
.btn.btn-xl { font-size: 1rem; padding: 1.25rem 2rem; }

.btn-primary { background-color: #0C2746; border-color: #0C2746; }
.btn-primary:hover { background-color: #15447a; border-color: #15447a; }
.btn-outline-primary {color: #0C2746; border-color: #0C2746; }
.btn-outline-primary:hover { background-color: #15447a; border-color: #15447a;}

.btn-secondary { color: #2d363f; background-color: #d1d1c7; border-color: #d1d1c7; }
.btn-secondary:hover { color: #161c23; background-color: #e9e9de; border-color: #e9e9de; }
.btn-outline-secondary {color: #2d363f; border-color: #d1d1c7; }
.btn-outline-secondary:hover { color: #2d363f; background-color: #e9e9de; border-color: #e9e9de; }

.btn-info { color: #0C2746; background-color: #D7FF45; border-color: #D7FF45; }
.btn-info:hover { background-color: #b2e200; border-color: #b2e200; }
.btn-outline-info {color: #2d363f; border-color: #D7FF45; }
.btn-outline-info:hover { color: #2d363f; background-color: #D7FF45; border-color: #d7ff45; }

/* UI KIT OVERRIDES END */

html { scroll-padding-top: 80px; }
body { position: relative; }
h2, .h2 { margin-bottom: 1rem; }

.section-band { padding: 3rem 0; }
@media (min-width: 992px) {
  .section-band { padding: 5rem 0; }
}

#mainNav {
  min-height: 3.5rem;
  background-color: #0C2746;
  border-bottom: 1px solid #79C3DF;
  transition: background-color 0.3s ease-in-out;
}
#mainNav .navbar-toggler { padding: 0.75rem; color: #fff; border: none;}
#mainNav .navbar-toggler:focus { outline: none; }
#mainNav .navbar-brand {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 700;
  padding: 0.7rem 0;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
}
#mainNav .navbar-brand .logo { height: 1.25rem; margin-top: -0.5rem; }
#mainNav .navbar-brand .logo.fixed { display: inline-block; }
#mainNav .navbar-brand .logo.black { display: none; }
#mainNav .navbar-nav .nav-item .nav-link { color: #fff; position: relative; padding: 0.75rem 1.5rem; }

#mainNav .navbar-nav .nav-item .nav-link.active,
#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active,
#mainNav .navbar-nav .nav-item .nav-link:focus { color: #79C3DF; }

#mainNav .navbar-nav .nav-item .nav-link.active::before,
#mainNav .navbar-nav .nav-item .nav-link:hover::before,
#mainNav .navbar-nav .nav-item .nav-link:active::before,
#mainNav .navbar-nav .nav-item .nav-link:focus::before {
  content: "";
  border-top: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-left: 10px solid #79C3DF;
  display: block;
  position: absolute;
  left: 6px;
  top: 17px;
}

#mainNav.navbar-white { background-color: #fff; }
#mainNav.navbar-white .navbar-brand { color: #000; }
#mainNav.navbar-white .navbar-brand .logo.fixed { display: none; } 
#mainNav.navbar-white .navbar-brand .logo.black { display: inline-block; } 
#mainNav.navbar-white .navbar-nav .nav-item .nav-link { color: #161C23; }
#mainNav.navbar-white .navbar-nav .nav-item:hover .nav-link,
#mainNav.navbar-white .navbar-nav .nav-item:active .nav-link,
#mainNav.navbar-white .navbar-nav .nav-item:focus .nav-link { color: #0C2746; }
#mainNav.navbar-white .navbar-toggler { color: #000; }

@media (min-width: 992px) {
  #mainNav { padding-top: 0; padding-bottom: 0; }
  #mainNav .navbar-brand { font-size: 2rem; letter-spacing: 0.4rem; padding: 0.5rem 0; color: #FFF; }
  #mainNav .navbar-brand .logo { height: 1.875rem; margin-top: -0.7rem; }
  #mainNav .navbar-nav .nav-item .nav-link { transition: none; padding: 1.75rem 1.5rem; color: #e9e9de; }
  #mainNav .navbar-nav .nav-item .nav-link.active::before,
  #mainNav .navbar-nav .nav-item .nav-link:hover::before,
  #mainNav .navbar-nav .nav-item .nav-link:active::before,
  #mainNav .navbar-nav .nav-item .nav-link:focus::before { top: 33px; }
}

.card-borderless {
  border: none;
  background-color: transparent;
}

.card-borderless .card-body {
  padding-left: 0;
  padding-right: 0;
}

.masthead {
  position: relative;
  display: flex;
  width: 100%;
  height: 300px;
  padding-top: 6rem;
  background: #0C2746;
  color: #FFF;
  background-image: url(/img/background-1.svg);
  background-repeat: no-repeat;
  background-position: center bottom -14px;
}

.masthead .headline {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0;
  line-height: 2rem;
}

@media (min-width: 576px) {
  .masthead { height: 400px; padding-top: 7.5rem; background-position: center bottom -18px; }
  .masthead .headline { font-size: 2rem; }
}

@media (min-width: 768px) {
  .masthead { height: 500px; height: 100vh; padding-top: 9rem; background-position: center bottom -24px; }
  .masthead .headline { font-size: 2.3rem; line-height: 3rem; }
}

@media (min-width: 992px) {
  .masthead { height: 600px; height: 100vh; padding-top: 8rem; background-position: center bottom -29px; }
  .masthead .headline { font-size: 3rem; line-height: 4rem; }
}

@media (min-width: 1200px) {
  .masthead { 
    height: 650px; 
    padding-top: 8rem; 
    background-position: center bottom -31px;
    background-repeat: repeat-x;
    background-size: 1300px;
  }
}

.platform-info-icon {
  font-size: 35px;
  line-height: 45px;
  min-width: 35px;
}

.legend-bullet {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin-right: 10px;
  border-radius: 50%;
  position: relative;
  top: 4px;
}

.profile-photo {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.signup-section {
  padding: 10rem 0;
  position: relative;
  overflow: hidden;
  background-image: url(/img/background-2.svg), url(/img/background-3.svg);
  background-position: left top -26px, right bottom -47px;
  background-repeat: no-repeat;
  background-size: 70%, 100%;
}

@media(min-width: 576px) {
  .signup-section {
    background-position: left top -26px, right bottom -85px;
    background-size: 60%, 85%;
  }
}
@media (min-width: 768px) {
  .signup-section {
    background-position: left top -26px, right bottom -85px;
    background-size: 50%, 70%;
  }
}
@media (min-width: 992px) {
  .signup-section {
    background-position: left top -31px, right bottom -96px;
    background-size: 45%, 65%;
  }
}
@media (min-width: 1200px) {
  .signup-section {
    background-position: left top -31px, right bottom -102px;
    background-size: 40%, 60%;
  }
}

.signup-section .form-signup input {
  padding: 1.25rem 2rem;
  height: auto;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  border: 0;
  border-radius: 0;
}

#form-error.hide, 
#form-success.hide {
  opacity: 0;
  -webkit-transition: opacity 0s;
     -moz-transition: opacity 0s;
       -o-transition: opacity 0s;
          transition: opacity 0s;
}

#form-error.show, 
#form-success.show {
  opacity: 1;
  -webkit-transition: opacity 1s;
     -moz-transition: opacity 1s;
       -o-transition: opacity 1s;
          transition: opacity 1s;
}

/** Roadmap **/
#roadmap .sticky {
  position: relative;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 120px;
}

.accordion-item { border: none; border-bottom: 2px solid #79C3DF; }
.accordion-button { padding-left: 3rem; font: 700 18px 'Montserrat'; }
.accordion-button::after {
  background-image: none;
  content: "";
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 16px solid #79C3DF;
  display: block;
  position: absolute;
  left: 10px;
}
.accordion-button:not(.collapsed)::after { background-image: none; transform: rotate(90deg); }
.accordion-button:not(.collapsed) { color: #0C2746; background-color: transparent; box-shadow: none; }

.milestone-icon { display: inline-block; margin-right: 1rem; font-size: 18px; line-height: 44px; }
.milestone-title { padding: 10px 0; }
.milestone-status { font-size: 1.5rem; line-height: 44px; position: relative;}
.milestone-status::before,
.milestone-status::after {
  content: "";
  position: absolute;
  background-color: #79C3DF;
  width: 2px;
  height: 14px;
  left: 11px;
}
.milestone-status::before { top: -11px; }
.milestone-status::after { bottom: -11px; }

/** FAQ **/
#faq .accordion-item { background-color: #0C2746; border-color: #79C3DF; padding-bottom: 1.5rem;}
#faq .accordion-item a:hover,
#faq .accordion-item a:not(.collapsed) { color: #e9e9de; }
#faq .accordion-item .accordion-body { color: #fff; }

/** Footer **/
.footer { padding: 5rem 0; }
.footer .social-links a { display: inline-block; margin-right: 10px; color: #79C3DF; font-size: 28px;  }
.footer .social-links a:hover { color: #fff; }